%div.contents
  =render 'layouts/side-bar'
  %div.right-content-group-detail
    %div.right-content-group-detail__name
      =@group.name
    %a{href: "edit"}
      %div.right-content-group-detail__edit-botton Edit
    %div.right-content-group-detail__member-list
      MEMBER:
      -@group.users.each do |user|
        =user.name
  %div.right-content-message
    - @messages.each do |message|
      %div.right-content-message__user-name{ data: { id: message.id } }=message.user.name
      %div.right-content-message__date=message.created_at
      - if message.content.present?
        %div.right-content-message__message-text= message.content
      - if message.image.present?
        %div.right-content-message__message-text= image_tag message.image.url

  .form
    .form_mask
      = form_for [@group, @message], html: {id: 'new_message'} do |f|
        = f.text_field :content, class: 'form__mask__text', placeholder: 'type a message'
        = f.submit 'Send', class: 'form__mask__submit-btn'
        = f.label :image, class: 'form__mask__icon' do
          = fa_icon 'picture-o'
          = f.file_field :image, class: 'hidden'
