%div.contents
  =render 'layouts/user-detail'
  %div.right-content-group-detail
    %div.right-content-group-detail__name グループ名　
    %a{href: "edit"}
      %div.right-content-group-detail__edit-botton Edit
    %div.right-content-group-detail__member-list MEMBER: user1、user2、user3
  =render 'layouts/groups'
  %div.right-content-message
    - @messages.each do |message|
      %div.right-content-message__user-name=message.user.name
      %div.right-content-message__date=message.created_at
      - if message.content.present?
        %div.right-content-message__message-text= message.content
      - if message.image.present?
        %div.right-content-message__message-text= image_tag message.image.url

  .right-content-form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'right-content-form__text-form', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = fa_icon 'picture-o', class: 'icon'
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'right-content-form__submit-botton'
